body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6; /* Fundo azul claro */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Verdana', sans-serif; /* Mudando a fonte */
    color: #333; /* Cor do texto */
    font-size: 2em; /* Diminuindo o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="number"].id-input {
    width: 100px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 46px; /* Definindo uma altura fixa */
}

input[type="text"],
input[type="email"],
button
{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #007bff; /* Botão azul */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
}

#message {
    margin-top: 20px;
    color: #d9534f; /* Cor da mensagem de erro */
}
